.login-container {
  max-width: 500px;
  margin: -70px auto 50px;
}

.login-oauth-container {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}

.login-oauth-container__item {
  cursor: pointer;
  padding: 0 10px;
}
