.navigation__list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.navigation__item {
  margin-right: 24px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation__link--active,
.navigation__link:hover {
  color: var(--color-accent);
}
