.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__navigation {
  margin-left: 24px;
}

.header--article-page {
  padding-bottom: 100px;
}

.footer {
  padding-top: 24px;
  padding-bottom: 80px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255 255 255 / 12%);
  margin-bottom: 28px;
}

.footer__bottom {
  font-size: 16px;
}

.footer__link {
  color: var(--color-accent);
  text-decoration: underline;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.8;
}
