.partner-article {
  padding: 40px 0;
  background-color: var(--color-accent);
}

.partner-article__image-container {
  grid-column: span 6;
}

.partner-article__content {
  grid-column: 7 / -1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.partner-article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 430px;
  box-shadow: 0 4px 20px 5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  overflow: hidden;
}

.partner-article__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article__title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article__text {
  margin-top: 44px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
